

<!-- Menu -->
<nav>
<div class='wifeo_conteneur_menu'>
	<div class='wifeo_rubrique'>
		<a href='#mw999'>La Machine</a>
			<div class='wifeo_sousmenu'>
				<div class='wifeo_pagesousmenu'><a href='http://www.google.com'>		
					G&eacute;n&eacute;ration</a></div>
				</div>
			</div>
			<div class='wifeo_rubrique'>
				<a href='#mw999'>Tirages</a>
				<div class='wifeo_sousmenu'>
				<div class='wifeo_pagesousmenu'>
					<a href='#' id="lnkImportation">Importation</a>
				</div>
				<div class='wifeo_pagesousmenu'>
					<a href='#' id="lnkListTirages">Rechercher</a>
				</div>
			</div>
			</div>
			<div class='wifeo_rubrique'>
			<a href='#mw999'>Stats</a>
				<div class='wifeo_sousmenu'>
					
					<div class='wifeo_pagesousmenu'>     
						<a href="#" id="lnkTotaux">Totaux par num&eacute;ros</a>
					</div>
					<div class='wifeo_pagesousmenu'>
						<a href='#' id="lnkPeriode">Analyse sur période</a>
					</div>
					<div class='wifeo_pagesousmenu'>
						<a href='#' id="lnkOcc">Occurences</a>
					</div>
				</div>
				</div>
				<div class='wifeo_rubrique'>
					<a href='#' >Mes Tirages</a>
				<div class='wifeo_sousmenu'>
					<div class='wifeo_pagesousmenu'>
						<a href='#' id='lnkCreateR'>Réduction</a>
					</div>
					<div class='wifeo_pagesousmenu'>
						<a href='#' id='lnkCreateT'>Tirages</a>
					</div>
				</div>
			</div>
			</div>
			</nav>



