<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/circle.css">
    <link rel="stylesheet" href="/styles/goSamples.css">
    <link rel="stylesheet" href="/styles/highlight.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/loto.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/chart/Chart.js"></script>
    <script src="/js/dependencies/chart/Chart.min.js"></script>
    <script src="/js/dependencies/chart/gulpfile.js"></script>
    <script src="/js/dependencies/chart/src/Chart.Bar.js"></script>
    <script src="/js/dependencies/chart/src/Chart.Core.js"></script>
    <script src="/js/dependencies/chart/src/Chart.Doughnut.js"></script>
    <script src="/js/dependencies/chart/src/Chart.Line.js"></script>
    <script src="/js/dependencies/chart/src/Chart.PolarArea.js"></script>
    <script src="/js/dependencies/chart/src/Chart.Radar.js"></script>
    <script src="/js/dependencies/composant/occurences.js"></script>
    <script src="/js/dependencies/composant/selection_groupe.js"></script>
    <script src="/js/dependencies/go.js"></script>
    <script src="/js/dependencies/jQRangeSlider-5.7.2/demo/dateSliderDemo.js"></script>
    <script src="/js/dependencies/jQRangeSlider-5.7.2/demo/demo.js"></script>
    <script src="/js/dependencies/jQRangeSlider-5.7.2/demo/editSliderDemo.js"></script>
    <script src="/js/dependencies/jQRangeSlider-5.7.2/demo/lib/jquery-ui/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script src="/js/dependencies/jQRangeSlider-5.7.2/demo/sliderDemo.js"></script>
    <script src="/js/dependencies/jQRangeSlider-5.7.2/jQAllRangeSliders-min.js"></script>
    <script src="/js/dependencies/jQRangeSlider-5.7.2/jQAllRangeSliders-withRuler-min.js"></script>
    <script src="/js/dependencies/jQRangeSlider-5.7.2/jQDateRangeSlider-min.js"></script>
    <script src="/js/dependencies/jQRangeSlider-5.7.2/jQDateRangeSlider-withRuler-min.js"></script>
    <script src="/js/dependencies/jQRangeSlider-5.7.2/jQEditRangeSlider-min.js"></script>
    <script src="/js/dependencies/jQRangeSlider-5.7.2/jQEditRangeSlider-withRuler-min.js"></script>
    <script src="/js/dependencies/jQRangeSlider-5.7.2/jQRangeSlider-min.js"></script>
    <script src="/js/dependencies/jQRangeSlider-5.7.2/jQRangeSlider-withRuler-min.js"></script>
    <script src="/js/dependencies/jQRangeSlider-5.7.2/lib/jquery.mousewheel.min.js"></script>
    <script src="/js/dependencies/jquery-ui.js"></script>
    <script src="/js/dependencies/jquery.js"></script>
    <script src="/js/dependencies/jquery_ui/external/jquery/jquery.js"></script>
    <script src="/js/dependencies/jquery_ui/jquery-ui.js"></script>
    <script src="/js/dependencies/jquery_ui/jquery-ui.min.js"></script>
    <script src="/js/dependencies/mesreductions.js"></script>
    <script src="/js/dependencies/pnotify.custom.min.js"></script>
    <script src="/js/dependencies/pnotify.js"></script>
    <script src="/js/dependencies/release/go-debug.js"></script>
    <script src="/js/dependencies/release/go.js"></script>
    <script src="/js/dependencies/require.js"></script>
    <script src="/js/dependencies/require.main.js"></script>
    <script src="/js/global_script.js"></script>
    <script src="/js/loto.mestirages.js"></script>
    <script src="/js/sails.io.js"></script>
    <script src="/js/socket.io.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
