toto rototo<br>
<b>lar chouma!!!!</b><br>
<div id="gauche" style="float:left;background-color:#CCCCCC;width:250px;height:500px">
	<table id="le_tableau">

	<tr>
	<td>DATE</td><td>View</td><td>Del</td>
	</td>
	<% for(var t=0;t<list.length;t++) 
	{%>
		<tr class='ligne'>
		<td><%=moment(list[t].PRE_DATE).format("YYYY-MM-DD HH:mm:ss")%></td><td>v</td><td>d</td>
		</tr>
	<%}%>
	</table>
</div>
<div id="droite" style="float:left;background-color:#EEEEEE;width:700px;height:500px">




</div>