
<body>

	<%- tplMenu %><br>
	<!-- Menu -->
<nav>

<div class='wifeo_conteneur_menu'>
	<div class='wifeo_rubrique'>
		<a href='#mw999'>La Machine</a>
			<div class='wifeo_sousmenu'>
				<div class='wifeo_pagesousmenu'><a href='http://www.google.com'>		
					G&eacute;n&eacute;ration</a></div>
				</div>
			</div>
			<div class='wifeo_rubrique'>
				<a href='#mw999'>Tirages</a>
				<div class='wifeo_sousmenu'>
				<div class='wifeo_pagesousmenu'>
					<a href='#' id="lnkImportation">Importation</a>
				</div>
				<div class='wifeo_pagesousmenu'>
					<a href='#' id="lnkListTirages">Rechercher</a>
				</div>
			</div>
			</div>
			<div class='wifeo_rubrique'>
			<a href='#mw999'>Stats</a>
				<div class='wifeo_sousmenu'>
					
					<div class='wifeo_pagesousmenu'>     
						<a href="#" id="lnkTotaux">Totaux par num&eacute;ros</a>
					</div>
					<div class='wifeo_pagesousmenu'>
						<a href='#' id="lnkPeriode">Analyse sur période</a>
					</div>
					<div class='wifeo_pagesousmenu'>
						<a href='#' id="lnkOcc">Occurences</a>
					</div>
				</div>
				</div>
				<div class='wifeo_rubrique'>
					<a href='#' >Mes Tirages</a>
				<div class='wifeo_sousmenu'>
					<div class='wifeo_pagesousmenu'>
						<a href='#' id='lnkCreateR'>Réduction</a>
					</div>
					<div class='wifeo_pagesousmenu'>
						<a href='#' id='lnkCreateT'>Tirages</a>
					</div>
					<div class='wifeo_pagesousmenu'>
						<a href='#' id='lnkLoadPredictions'>Load Predictions</a>
					</div>
				</div>
			</div>
			</div>
			</nav>




	<div id="container_base"></div>
	<div id="dialog" title="">
		<div id="list_tirage">
			<select id="dvMois">
				<option value="">--</option>
				<option value="01">Janvier</option>
				<option value="02">Février</option>
				<option value="03">Mars</option>
				<option value="04">Avril</option>
				<option value="05">Mai</option>
				<option value="06">Juin</option>
				<option value="07">Juiller</option>
				<option value="08">Août</option>
				<option value="09">Septembre</option>
				<option value="10">Octobre</option>
				<option value="11">Novembre</option>
				<option value="12">Décembre</option>
			</select>
			<select id="dvAnnee">
				<option value=""></option>
				<option value="2008">2008</option>
				<option value="2009">2009</option>
				<option value="2010">2010</option>
				<option value="2011">2011</option>
				<option value="2012">2012</option>
				<option value="2013">2013</option>
				<option value="2014">2014</option>
				<option value="2015">2015</option>
				<option value="2016">2016</option>

			</select>

		</div>
		<div id="dvPeriode">Période d'analyse <input type="text" value="2" id="txtPeriode"></div>
		<div id="dialog_numeros"></div>
		<div id="choix_dates">
		
		<div style="float:left;margin:10px"> De </div> 
			<input type="text" id="dt1" style="float:left;margin:10px"> 
		<div style="float:left;margin:10px"> à </div> 
			<input type="text" id="dt2"style="float:left;margin:10px" > 
		</div>

		
	</div>
	<div id='container_numeros'></div>
	<div id="container_stat">
		<div id="graph_container"><canvas id="canvas2" height="250" width="550"></canvas></div>

	</div>
<div id="dialog_nm" title="">
	<div id="container1_nm" style="width:140px;height:240px;float:left"></div>
	<div id="container2_nm" style="width:30px;height:240px;float:left"></div>
	<div id="container3_nm" style="width:400px;height:240px;float:left" >
		Pour le tirage du <br>
		<input type="text" id="dtCrea" style="float:left;margin:10px">

	</div>
	<div id="container4_nm" style="width:350px;height:240px;float:left">
	<table id='tblMT'><tr id="trHead"><td>Date</td><td>N1</td><td>N2</td><td>N3</td><td>N4</td><td>N5</td><td>NC</td><td>Cout</td><td>Gain</td></tr>

	</table><br>
	<div id="btnSave"></div>
	</div>
</div>

<div id="dialog_reduction" title="">
	<div id="container1_reduction" style="width:140px;height:240px;float:left"></div>
	<div id="container3_reduction" style="width:330px;height:240px;float:left" >
		Pour le tirage du <br>
		<input type="text" id="dtCreaReduction" style="float:left;margin:10px">

	</div>
	<div id="container4_reduction" style="overflow:auto;padding: 0.5em;height:240px;width:380px;float:left">
		<div id="progress" class="c100 p1 dark small green">
                        <span id="progress-span">1%</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
        </div>
		<table id='tblReduction'>
			<tr id="trHeadReduction"></tr>
		</table><br>
	</div>
	<div id="btnSave" style="float:left">bou</div>
</div>

</body>
</html>